@model IEnumerable<FClubBarcelona.Models.ViewModels.Blog.ArticleViewModel>

<div class="article">
    <div class="container">
        <div class="article-grids">
            <h2 class="text-center" style="font-family: monospace">Our Articles</h2>
            <br />
            @{ int cnt = 0; }
                @foreach (var articleViewModel in Model)
                {
                    cnt++;
                    if ( cnt  % 2 == 0)
                    {
                <div class="article-grid">
                <div class="col-md-4 article-grid-left">
                    <img src="@Html.DisplayFor(x=>articleViewModel.ImageTitle)" alt="" />
                </div>
                <div class="col-md-8 article-grid-right">
                    <h2 style="font-family: fantasy">
                     @Html.DisplayFor(x => articleViewModel.Title)
                    </h2>
                    <h3 style="font-family: monospace">
                        <br/>
                        @Html.DisplayFor(x => articleViewModel.StartArticle)
                    </h3>
                    <div class="more">
                        @Html.ActionLink("Read More","DetailsArticle", new {title = articleViewModel.Title },new {@class = "btn btn-default"})
                    </div>
                </div>
                <div class="clearfix"> </div>
              </div>
                    }
                    else
                    {
                        <div class="article-grid-middle">
                            <div class="col-md-8 article-grid-right">
                                <h2 style="font-family: fantasy">
                                    @Html.DisplayFor(x => articleViewModel.Title)
                                </h2>
                                <h3 style="font-family: monospace">
                                    <br/>
                                    @Html.DisplayFor(x => articleViewModel.StartArticle)
                                </h3>
                                <div class="more">
                                    @Html.ActionLink("Read More", "DetailsArticle", new { title = articleViewModel.Title}, new { @class = "btn btn-default" })
                                </div>
                            </div>
                            <div class="col-md-4 article-grid-left">
                                <img src="@Html.DisplayFor(x=>articleViewModel.ImageTitle)" alt="" />
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                   }
                }
        </div>
    </div>
</div>