@model IEnumerable<FClubBarcelona.Models.ViewModels.MessagesFromUsers.AllMessagesFromUsers>

@{
    ViewBag.Title = "All recieve message";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th colspan="2">
            @Html.DisplayNameFor(model => model.Message)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @if (string.IsNullOrEmpty(@Html.DisplayFor(modelItem => item.Sender).ToString()))
        {
            <td> No logged-in user</td>
        }
        else
        {     <td>
            @Html.DisplayFor(modelItem => item.Sender.Email)
            </td>  
        } 
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteMessage", new { id = item.Id })
        </td>
    </tr>
}
</table>
