@model IEnumerable<FClubBarcelona.Models.BindingModels.Blog.BlogArticleBm>

@{
    ViewBag.Title = "All Articles";
}

<h2>Articles</h2>

<p>
    @Html.ActionLink("Create New Article", "AddArticle")
</p>
<table class="table table-striped table-hover table-responsive table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartArticle)
        </th>
        <th colspan="3">
           @Html.DisplayNameFor(model => model.ImageTitle)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title, new {@class = "form-control"})
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Content, new { @class = "form-control" })
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.StartArticle, new { @class = "form-control" })
        </td>
        <td>
            <img class="img-responsive" width="400" height="400" src=@Html.DisplayFor(x => item.ImageTitle) alt="" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })

        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
